<span ng-if="showAddKey && jsonEditable">

	<span ng-show="$parent.type !== 'List' && $parent.type !== 'Array'">
		<input placeholder="Name" type="text"
					 class="form-control input-sm addItemKeyInput" ng-model="$parent.keyName" autocomplete="off" uib-typeahead="subchild for subchild in getAvailableNodeNames(key, child, $parent)" 					 ng-blur="changeParentKeyName($parent.keyName, child, $parent)"
				/> :
	</span>

	<select ng-model="$parent.valueType"  ng-model-onblur ng-options="option for option in valueTypes" class="form-control input-sm" ng-show="$parent.type !== 'List' && $parent.type !== 'Array'" ng-init="initParentValueType($parent)"></select>

	<!--ng-change="changeValue($parent.valueName, $parent.keyName, child, $parent)"-->
	<input type="text" ng-model="$parent.valueName" placeholder="Empty" ng-model-onblur
				  ng-show="$parent.valueType !== 'Object' && $parent.valueType !== 'Array' && $parent.valueType !== 'string:Object' && $parent.valueType !== 'string:Array' && $parent.type !== 'List'">

	<!--<span ng-switch on="$parent.valueType">-->
		<!--<span ng-switch-when="Boolean" type="boolean">-->
			<!--<input type="checkbox" ng-model="$parent.valueName" ng-model-onblur ng-change="changeValue(val, $parent.keyName, child, $parent)">-->
		<!--</span>-->
		<!--<span ng-switch-when="Enumeration" type="enumeration">-->
			<!--<select ng-model="$parent.valueName" ng-model-onblur ng-change="changeValue(val, $parent.keyName, child, $parent)" ng-options="option for option in getEnumValues($parent.keyName, child, $parent) track by option"></select>-->
		<!--</span>-->
		<!--<span ng-switch-when="Number" type="number">-->
			<!--<input type="number" ng-model="$parent.valueName" ng-model-onblur ng-change="changeValue(val, $parent.keyName, child, $parent)">-->
		<!--</span>-->
		<!--<span ng-switch-default class="jsonLiteral" type="text">-->
			<!--<input type="text" ng-model="$parent.valueName" placeholder="Empty" ng-model-onblur-->
						 <!--ng-change="changeValue($parent.valueName, $parent.keyName, child, $parent)" ng-show="$parent.valueType != 'Object' && $parent.valueType != 'Array'">-->
		<!--</span>-->
	<!--</span>-->

	<button class="btn btn-primary btn-sm" ng-click="addItem(key, child, $parent)">
		Add
	</button>
	<button class="btn btn-default btn-sm" ng-click="$parent.showAddKey=false">
		Cancel
	</button>
</span>
<span ng-if="!showAddKey">
	<button class="addObjectItemBtn" ng-click="$parent.showAddKey = true">
		<i class="fa fa-plus" ng-if="$parent.type !== 'List'"></i>
		<i class="fa fa-plus-circle" ng-if="$parent.type === 'List' "></i>
	</button>
</span>