<span ng-if="showAddKey && jsonEditable">

	<span ng-show="$parent.type !== 'List' && $parent.type !== 'Array'">
		<input placeholder="{{ typeaheadNoResults ? 'No name available' : 'Type a letter' }}" type="text"
					 class="form-control input-sm addItemKeyInput" ng-model="$parent.keyName" autocomplete="off" uib-typeahead="subchild for subchild in getAvailableNodeNames(key, child, $parent)" typeahead-min-length="0" typeahead-loading="loadingResponses"
					 typeahead-editable="false" typeahead-no-results="typeaheadNoResults" typeahead-focus ng-blur="changeParentKeyName($parent.keyName, child, $parent);showSelectbox = true"
				/> :
	</span>

	<select ng-model="$parent.valueType" ng-options="option for option in valueTypes" class="form-control input-sm" ng-show="showSelectbox && $parent.type !== 'List' && $parent.type !== 'Array' && $parent.keyName" ng-init="initParentValueType($parent)"></select>

	<span ng-show="$parent.type === 'Array' || ($parent.keyName && $parent.valueType !== 'Object' && $parent.valueType !== 'List' && $parent.valueType !== 'Array' && $parent.valueType !== 'string:Object' && $parent.valueType !== 'string:List' && $parent.valueType !== 'string:Array' && $parent.type !== 'List')">
		<input type="{{ $parent.valueType == 'string:Number' || $parent.valueType == 'Number' ? 'number' : $parent.valueType == 'string:Boolean' || $parent.valueType == 'Boolean' ? 'checkbox' : 'text' }}" ng-model="$parent.valueName" ng-model-onblur placeholder="Set a value" ng-show="!($parent.valueType == 'string:Enumeration' || $parent.valueType == 'Enumeration')">
		<select ng-model="selectboxValue" ng-options="option for option in getEnumValues($parent.keyName, child, $parent) track by option" ng-if="$parent.valueType == 'string:Enumeration' || $parent.valueType == 'Enumeration'" ng-model-onblur ng-blur="$parent.valueName = selectboxValue;"></select>
	</span>


	<button class="btn btn-primary btn-sm" ng-click="addItem(key, child, $parent)">
		Add
	</button>
	<button class="btn btn-default btn-sm" ng-click="$parent.showAddKey=false">
		Cancel
	</button>
</span>
<span ng-if="!showAddKey">
	<button class="addObjectItemBtn" ng-click="$parent.showAddKey = true">
		<i class="fa fa-plus" ng-if="$parent.type !== 'List'" tooltip-placement="top" uib-tooltip="Add new item"></i>
		<i class="fa fa-plus-circle" ng-if="$parent.type === 'List' " tooltip-placement="top" uib-tooltip="Add new {{$parent.$parent.$parent.newkey}}"></i>
	</button>
</span>