/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/app/*.db
/bin/doctrine
/bin/doctrine.php
/src/FIT/NetopeerBundle/Resources/public/.sass-cache/
/src/FIT/NetopeerBundle/Data/models/*
/src/winzou/*
/web/phpinfo.php
/web/adminer.php
/web/css/*
/web/js/*
/web/bundles/*
.idea
/src/FIT/NetopeerBundle/Entity/*~
composer.lock