[submodule "mod_netconf"]
	path = install/mod_netconf
	url = https://github.com/CESNET/mod_netconf.git

[submodule "netopeerangular"]
	path = src/FIT/Bundle/ModuleDefaultBundle/Resources/netopeerangular
	url = https://bitbucket.org/alexadav/netopeerangular.git 
