{% extends 'FITNetopeerBundle::layout.html.twig' %}
{% block title %}Section - {{sectionName}}{% endblock title %}

{% block singleContent %}
	<h1>Config &amp; State data</h1>
	{% if stateArr is defined and not(stateArr is empty) %}
		{#
		<form action="" method="post" {{ form_enctype(formState) }} class="filter" name="formState">
			{{ form_widget(formState) }}
		    <input type="submit" value="Get" />
		</form>
		#}
		<div class="root">
			{% set iterator = 1 %}
			{% for key, element in stateArr %}
				{% include 'FITNetopeerBundle:State:parent.html.twig' with {'element': stateArr.current(), 'level': 0, 'xpath': '/*', 'iterator': iterator} %}
				{% set iterator = iterator + 1 %}
			{% endfor %}
		</div>
	{% else %}
		<div class="alert info">
			No results found.
		</div>
	{% endif %}
{% endblock singleContent %}
