<div ng-switch on="showAddKey" class="block" >
	<span ng-switch-when="true">
		<span ng-show="getType(key, child, $parent) == 'Object'">
			<input placeholder="Name" type="text" ui-keyup="{'enter':'addItem(key, child, $parent)'}"
						 class="form-control input-sm addItemKeyInput" ng-model="$parent.keyName" uib-typeahead="subchild for subchild in getAvailableNodeNames(key, child, $parent)" autocomplete="off"
					/> :
		</span>

		<input ng-show="getType($parent.keyName, undefined, child) != 'Object'" type="text" placeholder="Value" class="form-control input-sm addItemValueInput" ng-model="$parent.valueName" ui-keyup="{'enter':'addItem(key, child, $parent)'}"/>

		<button class="btn btn-primary btn-sm" ng-click="addItem(key, child, $parent)">
			Add
		</button>
		<button class="btn btn-default btn-sm" ng-click="$parent.showAddKey=false">
			Cancel
		</button>
	</span>
	<span ng-switch-default ng-if="jsonEditable">
		<button class="addObjectItemBtn" ng-click="$parent.showAddKey = true">
			<i class="fa fa-plus"></i>
		</button>
	</span>
</div>