<h1 class="left">Config &amp; State data</h1>

<hr class="cleaner" />
<div ng-init="reloadData(moduleName); resetRevisions()">
    <button ng-click="reloadData(moduleName)">reload data</button>
    <button ng-click="download(jsonData)">download as JSON</button>

    <button ng-click="submitConfiguration(jsonData)" ng-if="jsonEditable">Apply changes</button>
    <button ng-click="commitConfiguration()" ng-if="datastore == 'candidate'">Commit</button>

    <button ng-click="undo()" ng-disabled="hasUndo()" ng-if="jsonEditable">history undo</button>
    <button ng-click="redo()" ng-disabled="hasRedo()" ng-if="jsonEditable">history redo</button>

    <div class="jsonView">
        <json child="jsonData" default-collapsed="false" type="object" hide-collapse="true"></json>
    </div>

    <!--<hr>-->
    <!--<div>-->
        <!--<textarea id="jsonTextarea" ng-model="jsonString"></textarea>-->
        <!--<span class="red" ng-if="!wellFormed">JSON not well-formed!</span>-->
    <!--</div>-->
</div>