<i ng-click="toggleCollapse()" class="glyphicon" ng-class="chevron" ng-if="!hideCollapse"></i>
<div class="jsonContents" ng-hide="collapsed">
	<span class="block" ng-repeat="(key, val) in child | skipAttributes">
		<span class="jsonObjectKey">
			<span class="key-name" ng-model="newkey" ng-init="newkey=key">{{ key }}</span>
			<!--<input class="keyinput" type="text" ng-model="newkey" ng-init="newkey=key" ng-blur="moveKey(child, key, newkey)"/>-->
			<i class="iconButton deleteKeyBtn glyphicon glyphicon-trash" ng-click="deleteKey(key, child, $parent)" ng-if="!child['$@'+key]['mandatory']"></i>

			<i class="iconButton glyphicon glyphicon-info-sign" tooltip-placement="left" uib-tooltip="{{child['$@'+key]['description']}}" ng-if="child['$@'+key]['description']"></i>
		</span>
		<span class="jsonObjectValue"><switch-item></switch-item></span>
	</span>
	<add-item></add-item>
</div>