/* line 17, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 29, ../sass/screen.scss */
html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 800px;
}

/* line 30, ../sass/screen.scss */
body {
  background: #f0f0f0;
  font-family: Arial, Trebuchet, Verdana, sans-serif;
  font-size: 0.625em;
  color: #333333;
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 31, ../sass/screen.scss */
body > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../sass/screen.scss */
a {
  color: #004f80;
}
/* line 24, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 34, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 36, ../sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 37, ../sass/screen.scss */
.left {
  float: left;
}

/* line 38, ../sass/screen.scss */
.right {
  float: right;
}

/* line 39, ../sass/screen.scss */
hr.cleaner {
  width: 100%;
  height: 0px;
  margin: 0px;
  border: 0px none;
  color: transparent;
  background: transparent;
  visibility: hidden;
  clear: both;
}

/* line 40, ../sass/screen.scss */
.red {
  color: #820101;
}

/* line 41, ../sass/screen.scss */
.green {
  color: #007711;
}

/* line 43, ../sass/screen.scss */
.button, form input[type="submit"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006eb3), color-stop(100%, #00426c));
  background: -webkit-linear-gradient(#006eb3, #00426c);
  background: -moz-linear-gradient(#006eb3, #00426c);
  background: -o-linear-gradient(#006eb3, #00426c);
  background: linear-gradient(#006eb3, #00426c);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 20px;
  color: #fff;
  text-shadow: 1px, 1px, 2px, #333333;
  font-size: 1em;
  font-weight: normal;
  border: 1px solid #00426c;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px #aaaaaa;
  -moz-box-shadow: 0px 0px 8px #aaaaaa;
  box-shadow: 0px 0px 8px #aaaaaa;
  margin: 15px 0px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
/* line 44, ../sass/screen.scss */
.button:before, form input[type="submit"]:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 1px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 45, ../sass/screen.scss */
.button:active, form input[type="submit"]:active {
  -webkit-box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.25);
}
/* line 46, ../sass/screen.scss */
.button:hover, form input[type="submit"]:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004f80), color-stop(100%, #002339));
  background: -webkit-linear-gradient(#004f80, #002339);
  background: -moz-linear-gradient(#004f80, #002339);
  background: -o-linear-gradient(#004f80, #002339);
  background: linear-gradient(#004f80, #002339);
}
/* line 47, ../sass/screen.scss */
.button.red, form input.red[type="submit"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #820101), color-stop(100%, #690101));
  background: -webkit-linear-gradient(#820101, #690101);
  background: -moz-linear-gradient(#820101, #690101);
  background: -o-linear-gradient(#820101, #690101);
  background: linear-gradient(#820101, #690101);
  border: 1px solid black;
  color: #fff;
}
/* line 48, ../sass/screen.scss */
.button.red:hover, form input.red[type="submit"]:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #820101), color-stop(100%, #360000));
  background: -webkit-linear-gradient(#820101, #360000);
  background: -moz-linear-gradient(#820101, #360000);
  background: -o-linear-gradient(#820101, #360000);
  background: linear-gradient(#820101, #360000);
}

/* navigation */
/* line 53, ../sass/screen.scss */
nav#top, div#top {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003f67), color-stop(100%, #00304d));
  background: -webkit-linear-gradient(#003f67, #00304d);
  background: -moz-linear-gradient(#003f67, #00304d);
  background: -o-linear-gradient(#003f67, #00304d);
  background: linear-gradient(#003f67, #00304d);
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 100;
  top: 0px;
  width: 100%;
}
/* line 54, ../sass/screen.scss */
nav#top > a, div#top > a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  padding: 0px 20px;
  border-left: 1px solid #004f80;
  float: left;
  font-size: 1.3em;
  position: relative;
}
/* line 55, ../sass/screen.scss */
nav#top > a:first-child + a, div#top > a:first-child + a {
  border-left: 1px solid #000;
}
/* line 56, ../sass/screen.scss */
nav#top > a:hover, nav#top > a.active, div#top > a:hover, div#top > a.active {
  background: #00101a;
}
/* line 57, ../sass/screen.scss */
nav#top > a.nth-0, div#top > a.nth-0 {
  border-left: 1px solid #4c7995;
}
/* line 59, ../sass/screen.scss */
nav#top > a.active span.arrow, div#top > a.active span.arrow {
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -4px;
  width: 0px;
  height: 0px;
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #00101a;
}
/* line 64, ../sass/screen.scss */
nav#top .header-icon, div#top .header-icon {
  background: #002034;
  padding: 0px 4px;
  border-left: 1px solid #003f67;
}
/* line 65, ../sass/screen.scss */
nav#top .header-icon span, div#top .header-icon span {
  display: block;
  padding: 0px;
  float: left;
  width: 40px;
  height: 39px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 67, ../sass/screen.scss */
nav#top .header-icon:hover span, nav#top .header-icon.active span, div#top .header-icon:hover span, div#top .header-icon.active span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 71, ../sass/screen.scss */
nav#top .ico-home, div#top .ico-home {
  float: left;
  border-right: 1px solid #4c7995;
  border-left: 0px;
  padding: 0px 20px 0px 0px;
  background: #004f80;
  height: 39px;
}
/* line 72, ../sass/screen.scss */
nav#top .ico-home span, div#top .ico-home span {
  width: 50px;
  background: url("../images/ico/16_home.png") center center no-repeat;
}
/* line 73, ../sass/screen.scss */
nav#top .ico-home:hover, nav#top .ico-home.active, div#top .ico-home:hover, div#top .ico-home.active {
  background: #003f67;
}
/* line 77, ../sass/screen.scss */
nav#top .ico-lock span, div#top .ico-lock span {
  background: url("../images/ico/16_lock.png") center center no-repeat;
}
/* line 81, ../sass/screen.scss */
nav#top .ico-unlock span, div#top .ico-unlock span {
  background: url("../images/ico/16_unlock.png") center center no-repeat;
}
/* line 85, ../sass/screen.scss */
nav#top .ico-session span, div#top .ico-session span {
  background: url("../images/ico/16_info.png") center center no-repeat;
}
/* line 88, ../sass/screen.scss */
nav#top .ico-refresh, div#top .ico-refresh {
  border-right: 1px solid #000;
}
/* line 89, ../sass/screen.scss */
nav#top .ico-refresh span, div#top .ico-refresh span {
  background: url("../images/ico/16_refresh.png") center center no-repeat;
}
/* line 92, ../sass/screen.scss */
nav#top .others-cover, div#top .others-cover {
  float: right;
  position: relative;
}
/* line 93, ../sass/screen.scss */
nav#top .others-cover .show-link, nav#top .others-cover .others, div#top .others-cover .show-link, div#top .others-cover .others {
  display: none;
}
/* line 94, ../sass/screen.scss */
nav#top .others-cover .show-link, div#top .others-cover .show-link {
  background: #002034;
  border-left: 1px solid #003f67;
  width: 30px;
  height: 40px;
  border-right: 1px solid #4c7995;
}
/* line 95, ../sass/screen.scss */
nav#top .others-cover .show-link span, div#top .others-cover .show-link span {
  text-align: center;
  background: url("../images/ico/16_arrow_down.png") center center no-repeat;
  display: block;
  width: 30px;
}
/* line 98, ../sass/screen.scss */
nav#top .others-cover.visible .show-link, div#top .others-cover.visible .show-link {
  display: block;
}
/* line 100, ../sass/screen.scss */
nav#top .others-cover .others, div#top .others-cover .others {
  position: absolute;
  right: 0px;
  top: 40px;
  min-width: 150px;
  background: rgba(0, 63, 103, 0.9);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
/* line 101, ../sass/screen.scss */
nav#top .others-cover .others a, div#top .others-cover .others a {
  border-bottom: 1px solid #000;
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
  text-align: right;
  line-height: 1em;
}
/* line 102, ../sass/screen.scss */
nav#top .others-cover .others a:hover, div#top .others-cover .others a:hover {
  background: #002034;
}
/* line 108, ../sass/screen.scss */
nav#top #userpane, div#top #userpane {
  float: right;
  height: 40px;
  padding: 0px 15px 0px 41px;
  color: #ccc;
  background: url("../images/ico/16_users-o50.png") 50% 5px no-repeat #002034;
  background: url("../images/ico/16_users-o50.png") 10px 11px no-repeat rgba(0, 32, 52, 0.8);
  border-left: 1px solid #000;
  font-size: 1.2em;
}
/* line 109, ../sass/screen.scss */
nav#top #userpane .log-out, div#top #userpane .log-out {
  border-left: 1px solid #4d4d4d;
  padding-left: 7px;
  color: #cccccc;
  margin-left: 5px;
}
/* line 24, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav#top #userpane .log-out:hover, div#top #userpane .log-out:hover {
  color: #1486cd;
}
/* line 110, ../sass/screen.scss */
nav#top #userpane .log-out:hover, div#top #userpane .log-out:hover {
  text-decoration: none;
}

/* line 115, ../sass/screen.scss */
nav#left {
  float: left;
  width: 10%;
  border-right: 1px solid #bababa;
  background: #dadada;
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  min-height: 100%;
  padding: 40px 0px 0px 0px;
  font-size: 1.3em;
  position: relative;
}
/* line 116, ../sass/screen.scss */
nav#left > *:first-child {
  margin-top: 15px;
}
/* line 117, ../sass/screen.scss */
nav#left h3 {
  padding: 0px 15px 10px 15px;
  font-weight: bold;
  font-size: 1.1em;
  border-bottom: 1px solid #888;
  margin-bottom: 5px;
}
/* line 118, ../sass/screen.scss */
nav#left a {
  display: block;
  padding: 9px 15px;
  color: #333333;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav#left a:hover {
  color: black;
}
/* line 119, ../sass/screen.scss */
nav#left a:hover, nav#left a.active {
  padding-left: 10px;
  margin-left: 5px;
}
/* line 120, ../sass/screen.scss */
nav#left a:hover {
  background: #bbb;
}
/* line 121, ../sass/screen.scss */
nav#left a.active {
  background: #f5f5f5;
  color: #341e00;
  margin-right: -1px;
  padding: 9px 16px 8px 9px;
  border: 1px solid #bababa;
  border-right: 0px none;
}
/* line 124, ../sass/screen.scss */
nav#left #history-and-profiles {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 0px;
}
/* line 125, ../sass/screen.scss */
nav#left #history-and-profiles #history-of-connected-devices, nav#left #history-and-profiles #profiles-of-connected-devices {
  position: relative;
  height: 50%;
  width: 100%;
  min-height: 50%;
  margint-top: 0px;
  overflow-y: scroll;
}
/* line 127, ../sass/screen.scss */
nav#left #history-and-profiles .alert {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 128, ../sass/screen.scss */
nav#left #history-and-profiles #history-of-connected-devices {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50%;
  padding-top: 15px;
}
/* line 129, ../sass/screen.scss */
nav#left #history-and-profiles #profiles-of-connected-devices {
  border-top: 1px solid #333;
  padding-top: 5%;
  height: 50%;
}
/* line 130, ../sass/screen.scss */
nav#left #history-and-profiles a {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 131, ../sass/screen.scss */
nav#left #history-and-profiles a.active {
  margin-right: 0px;
}
/* line 132, ../sass/screen.scss */
nav#left #history-and-profiles a .icon {
  width: 18px;
  height: 18px;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  line-height: 18px;
  text-align: center;
  border: 1px solid #aaa;
  display: none;
  margin-top: -7px;
  margin-bottom: -4px;
  margin-right: -3px;
}
/* line 133, ../sass/screen.scss */
nav#left #history-and-profiles a .icon:hover {
  background-color: #bbb;
  border-color: #888;
}
/* line 135, ../sass/screen.scss */
nav#left #history-and-profiles a:hover {
  padding-left: 3px;
}
/* line 136, ../sass/screen.scss */
nav#left #history-and-profiles a:hover .icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 142, ../sass/screen.scss */
body > section {
  float: left;
  width: 50%;
  min-height: 100%;
  padding: 15px;
  font-size: 1.4em;
  overflow-y: scroll;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 40px solid transparent;
}
/* line 143, ../sass/screen.scss */
body > section.left-nav-defined {
  width: 45%;
}
/* line 146, ../sass/screen.scss */
body > section#state {
  border-right: 1px solid #bababa;
  -webkit-box-shadow: inset -5px 0px 5px #e8e8e8;
  -moz-box-shadow: inset -5px 0px 5px #e8e8e8;
  box-shadow: inset -5px 0px 5px #e8e8e8;
  padding-right: 30px;
}
/* line 147, ../sass/screen.scss */
body > section#config {
  padding-left: 30px;
}
/* line 149, ../sass/screen.scss */
body > section *[class*='level'] {
  position: relative;
  float: left;
  width: 100%;
}
/* line 150, ../sass/screen.scss */
body > section *[class*='level'] .dots {
  background: url("../images/dot.png") left top repeat transparent;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: 28px;
  height: 100%;
}
/* line 154, ../sass/screen.scss */
body > section .level-0 .dots {
  width: 0px;
}
/* line 155, ../sass/screen.scss */
body > section .level-0 .label {
  padding-left: 6px;
}
/* line 156, ../sass/screen.scss */
body > section .level-0 input.label {
  margin-left: 6px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-1 .dots {
  width: 8px;
}
/* line 155, ../sass/screen.scss */
body > section .level-1 .label {
  padding-left: 14px;
}
/* line 156, ../sass/screen.scss */
body > section .level-1 input.label {
  margin-left: 14px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-2 .dots {
  width: 16px;
}
/* line 155, ../sass/screen.scss */
body > section .level-2 .label {
  padding-left: 22px;
}
/* line 156, ../sass/screen.scss */
body > section .level-2 input.label {
  margin-left: 22px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-3 .dots {
  width: 24px;
}
/* line 155, ../sass/screen.scss */
body > section .level-3 .label {
  padding-left: 30px;
}
/* line 156, ../sass/screen.scss */
body > section .level-3 input.label {
  margin-left: 30px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-4 .dots {
  width: 32px;
}
/* line 155, ../sass/screen.scss */
body > section .level-4 .label {
  padding-left: 38px;
}
/* line 156, ../sass/screen.scss */
body > section .level-4 input.label {
  margin-left: 38px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-5 .dots {
  width: 40px;
}
/* line 155, ../sass/screen.scss */
body > section .level-5 .label {
  padding-left: 46px;
}
/* line 156, ../sass/screen.scss */
body > section .level-5 input.label {
  margin-left: 46px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-6 .dots {
  width: 48px;
}
/* line 155, ../sass/screen.scss */
body > section .level-6 .label {
  padding-left: 54px;
}
/* line 156, ../sass/screen.scss */
body > section .level-6 input.label {
  margin-left: 54px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-7 .dots {
  width: 56px;
}
/* line 155, ../sass/screen.scss */
body > section .level-7 .label {
  padding-left: 62px;
}
/* line 156, ../sass/screen.scss */
body > section .level-7 input.label {
  margin-left: 62px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-8 .dots {
  width: 64px;
}
/* line 155, ../sass/screen.scss */
body > section .level-8 .label {
  padding-left: 70px;
}
/* line 156, ../sass/screen.scss */
body > section .level-8 input.label {
  margin-left: 70px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-9 .dots {
  width: 72px;
}
/* line 155, ../sass/screen.scss */
body > section .level-9 .label {
  padding-left: 78px;
}
/* line 156, ../sass/screen.scss */
body > section .level-9 input.label {
  margin-left: 78px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-10 .dots {
  width: 80px;
}
/* line 155, ../sass/screen.scss */
body > section .level-10 .label {
  padding-left: 86px;
}
/* line 156, ../sass/screen.scss */
body > section .level-10 input.label {
  margin-left: 86px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-11 .dots {
  width: 88px;
}
/* line 155, ../sass/screen.scss */
body > section .level-11 .label {
  padding-left: 94px;
}
/* line 156, ../sass/screen.scss */
body > section .level-11 input.label {
  margin-left: 94px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-12 .dots {
  width: 96px;
}
/* line 155, ../sass/screen.scss */
body > section .level-12 .label {
  padding-left: 102px;
}
/* line 156, ../sass/screen.scss */
body > section .level-12 input.label {
  margin-left: 102px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-13 .dots {
  width: 104px;
}
/* line 155, ../sass/screen.scss */
body > section .level-13 .label {
  padding-left: 110px;
}
/* line 156, ../sass/screen.scss */
body > section .level-13 input.label {
  margin-left: 110px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-14 .dots {
  width: 112px;
}
/* line 155, ../sass/screen.scss */
body > section .level-14 .label {
  padding-left: 118px;
}
/* line 156, ../sass/screen.scss */
body > section .level-14 input.label {
  margin-left: 118px;
  padding-left: 0px;
}
/* line 154, ../sass/screen.scss */
body > section .level-15 .dots {
  width: 120px;
}
/* line 155, ../sass/screen.scss */
body > section .level-15 .label {
  padding-left: 126px;
}
/* line 156, ../sass/screen.scss */
body > section .level-15 input.label {
  margin-left: 126px;
  padding-left: 0px;
}
/* line 159, ../sass/screen.scss */
body > section .level-0:not(.container):not(.list) {
  margin: 0px;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  background: #f0f0f0;
}
/* line 160, ../sass/screen.scss */
body > section .level-0:not(.container):not(.list):nth-child(even) {
  background: #fff;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
/* line 161, ../sass/screen.scss */
body > section .level-0:not(.container):not(.list):nth-child(even) .even {
  background: #f8f8f8;
}
/* line 162, ../sass/screen.scss */
body > section .level-0:not(.container):not(.list):nth-child(even) > .leaf-line:first-child {
  border-top: 1px solid #666;
}
/* line 165, ../sass/screen.scss */
body > section .level-0:not(.container):not(.list):nth-child(odd) .even {
  background: #f8f8f8;
}
/* line 166, ../sass/screen.scss */
body > section .level-0:not(.container):not(.list):nth-child(odd) > .leaf-line:first-child {
  border-top: 1px solid #aaa;
}
/* line 170, ../sass/screen.scss */
body > section .level-0 > .leaf-line > .label > .label-cover > span.dash {
  display: none;
}
/* line 172, ../sass/screen.scss */
body > section .leaf-line {
  padding: 7px 1.5% 7px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
}
/* line 173, ../sass/screen.scss */
body > section .leaf-line.hover {
  background-color: #dadada;
  border-color: #aaa;
}
/* line 174, ../sass/screen.scss */
body > section .leaf-line .label {
  width: 35%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}
/* line 175, ../sass/screen.scss */
body > section .leaf-line .value {
  width: 59%;
  float: left;
  color: #000;
  margin-left: 2%;
}
/* line 176, ../sass/screen.scss */
body > section .leaf-line .range {
  width: 42%;
  float: left;
}
/* line 177, ../sass/screen.scss */
body > section .leaf-line .range-cover-number {
  width: 6%;
  float: left;
  margin-right: 1.8%;
  text-align: right;
  padding: 3px 5px;
  margin-top: -2px;
  margin-bottom: -2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(#ffffff, #f4f4f4);
  background: -moz-linear-gradient(#ffffff, #f4f4f4);
  background: -o-linear-gradient(#ffffff, #f4f4f4);
  background: linear-gradient(#ffffff, #f4f4f4);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 178, ../sass/screen.scss */
body > section .leaf-line .config-value-cover, body > section .leaf-line .value-cover {
  width: 50%;
  float: left;
  margin-top: -3px;
  margin-left: 2%;
}
/* line 179, ../sass/screen.scss */
body > section .leaf-line .config-value-cover label, body > section .leaf-line .value-cover label {
  margin: 0px;
  padding: 0px;
  width: auto;
  padding-right: 10px;
  line-height: 18px;
  height: 18px;
}
/* line 181, ../sass/screen.scss */
body > section .leaf-line input.value.text {
  width: 50%;
  margin: -4px 0px;
  border: 1px solid #ccc;
  height: 22px;
  line-height: 22px;
  padding: 0px 3px;
  font-size: 0.9em;
  margin-left: 2%;
}
/* line 182, ../sass/screen.scss */
body > section .leaf-line textarea.value {
  width: 50%;
  margin: -4px 0px;
  border: 1px solid #ccc;
  padding: 0px 3px;
  font-size: 0.9em;
  margin-left: 2%;
}
/* line 184, ../sass/screen.scss */
body > section .leaf-line .edit-bar {
  width: 80px;
  min-height: 22px;
  margin: -5px 0px -5px 2%;
  float: right;
  text-align: right;
}
/* line 185, ../sass/screen.scss */
body > section .leaf-line .edit-bar .child {
  display: none;
}
/* line 186, ../sass/screen.scss */
body > section .leaf-line .edit-bar img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  cursor: pointer;
}
/* line 187, ../sass/screen.scss */
body > section .leaf-line .edit-bar img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 192, ../sass/screen.scss */
body > section .leaf-line.active {
  position: relative;
  z-index: 25;
  background: #fff;
}
/* line 194, ../sass/screen.scss */
body > section .leaf-line.has-children span.bull {
  width: 5px;
  height: 5px;
  position: absolute;
  left: -9px;
  top: 6px;
  background-color: #666;
}
/* line 196, ../sass/screen.scss */
body > section .leaf-line .label-cover {
  position: relative;
}
/* line 197, ../sass/screen.scss */
body > section .leaf-line .label-cover span.dash {
  width: 5px;
  height: 1px;
  position: absolute;
  left: -9px;
  top: 8px;
  background-color: #666;
}
/* line 201, ../sass/screen.scss */
body > section .container, body > section .list {
  margin: 25px 0px;
}
/* line 202, ../sass/screen.scss */
body > section .container > *:not(.container):not(.list), body > section .list > *:not(.container):not(.list) {
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  background: #f0f0f0;
}
/* line 203, ../sass/screen.scss */
body > section .container > *:not(.container):not(.list):nth-child(even), body > section .list > *:not(.container):not(.list):nth-child(even) {
  background: #fff;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
/* line 204, ../sass/screen.scss */
body > section .container > *:not(.container):not(.list):nth-child(even) .dots, body > section .list > *:not(.container):not(.list):nth-child(even) .dots {
  background-color: #fff;
}
/* line 207, ../sass/screen.scss */
body > section .container .container, body > section .container .list, body > section .list .container, body > section .list .list {
  border-top: 1px solid #ddd;
}
/* line 209, ../sass/screen.scss */
body > section .container + * > .leaf-line:first-child, body > section .list + * > .leaf-line:first-child {
  margin-top: 0px;
}
/* line 211, ../sass/screen.scss */
body > section .mandatory {
  color: #888;
}
/* line 212, ../sass/screen.scss */
body > section .tooltip {
  float: right;
  margin: 0px 0px 0px 4px;
}
/* line 217, ../sass/screen.scss */
body > section#content {
  width: 100%;
  min-height: 100%;
  font-size: 1.4em;
  padding: 40px 30px 30px 30px;
}
/* line 218, ../sass/screen.scss */
body > section#content.left-nav-defined {
  width: 90%;
}
/* line 219, ../sass/screen.scss */
body > section#content.max-width-column {
  max-width: 800px;
  width: 100%;
  float: none;
}

/* line 222, ../sass/screen.scss */
.top-part {
  position: absolute;
  right: 30px;
  top: 55px;
  font-size: 1.2em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: 10;
}
/* line 223, ../sass/screen.scss */
.top-part:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 225, ../sass/screen.scss */
.configure .loading {
  background: url("../images/loading-bar.gif") repeat-x;
  display: block;
  height: 20px;
  line-height: 20px;
  color: #fff;
  padding: 0px 3%;
  width: 94%;
  border: 1px solid #00304d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 227, ../sass/screen.scss */
body > section, #content {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 228, ../sass/screen.scss */
body > section h1, body > section h2, body > section h3, body > section h4, body > section legend, #content h1, #content h2, #content h3, #content h4, #content legend {
  font-family: Arial, Trebuchet, Verdana, sans-serif;
  color: #004f80;
}
/* line 229, ../sass/screen.scss */
body > section h1, #content h1 {
  font-size: 1.9em;
  margin: 20px 0px 15px 0px;
}
/* line 230, ../sass/screen.scss */
body > section h2, #content h2 {
  font-size: 1.7em;
  margin: 15px 0px 10px 0px;
}
/* line 231, ../sass/screen.scss */
body > section h3, #content h3 {
  font-size: 1.5em;
  margin: 10px 0px 5px 0px;
}
/* line 232, ../sass/screen.scss */
body > section h4, #content h4 {
  font-size: 1.3em;
  margin: 5px 0px 5px 0px;
}
/* line 234, ../sass/screen.scss */
body > section legend, #content legend {
  font-size: 1.9em;
  margin-bottom: 15px;
}

/* line 236, ../sass/screen.scss */
.alert {
  padding: 15px 20px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px #d5d5d5;
  -moz-box-shadow: 0px 0px 8px #d5d5d5;
  box-shadow: 0px 0px 8px #d5d5d5;
  clear: both;
  margin: 15px 0px;
}
/* line 237, ../sass/screen.scss */
.alert.info {
  background: url("../images/ico/info.png");
}
/* line 238, ../sass/screen.scss */
.alert.success {
  background: url("../images/ico/ok.png");
  color: #007711;
}
/* line 239, ../sass/screen.scss */
.alert.error {
  background: url("../images/ico/error.png");
  color: #820101;
}
/* line 241, ../sass/screen.scss */
.alert.info, .alert.success, .alert.error {
  padding-left: 40px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-color: #fff;
}

/* line 244, ../sass/screen.scss */
article#content {
  font-size: 1.4em;
  padding: 40px 15px;
}
/* line 245, ../sass/screen.scss */
article#content .alert {
  clear: both;
  margin-bottom: -30px;
}

/* formulare */
/* line 250, ../sass/screen.scss */
form {
  margin: 15px 0px;
}
/* line 251, ../sass/screen.scss */
form.login, form#login-form {
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(#fafafa, #eaeaea);
  background: -moz-linear-gradient(#fafafa, #eaeaea);
  background: -o-linear-gradient(#fafafa, #eaeaea);
  background: linear-gradient(#fafafa, #eaeaea);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px #cccccc;
  -moz-box-shadow: 0px 0px 8px #cccccc;
  box-shadow: 0px 0px 8px #cccccc;
}
/* line 253, ../sass/screen.scss */
form.login label {
  width: 25%;
  padding-right: 2%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
/* line 255, ../sass/screen.scss */
form.login input[type="text"], form.login textarea, form.login input[type="password"] {
  width: 60%;
  float: left;
}
/* line 256, ../sass/screen.scss */
form.login input[type="submit"] {
  margin-left: 25%;
}
/* line 259, ../sass/screen.scss */
form#login-form {
  width: 400px;
  margin: 0px auto;
}
/* line 260, ../sass/screen.scss */
form#login-form .desc {
  font-size: 0.95em;
  margin-bottom: 25px;
}
/* line 262, ../sass/screen.scss */
form#login-form label {
  width: 20%;
  margin-right: 5%;
  float: left;
}
/* line 264, ../sass/screen.scss */
form#login-form input[type="text"], form#login-form textarea, form#login-form input[type="password"] {
  width: 70%;
  float: left;
}
/* line 265, ../sass/screen.scss */
form#login-form input[type="submit"] {
  margin-left: 25%;
}
/* line 269, ../sass/screen.scss */
form label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 90px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}
/* line 271, ../sass/screen.scss */
form label.required:after {
  content: " *";
}
/* line 274, ../sass/screen.scss */
form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 275, ../sass/screen.scss */
form input[type="text"], form textarea, form input[type="password"], form input.text {
  width: 200px;
  height: 30px;
  line-height: 30px;
  padding: 0px 5px;
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(#ffffff, #f4f4f4);
  background: -moz-linear-gradient(#ffffff, #f4f4f4);
  background: -o-linear-gradient(#ffffff, #f4f4f4);
  background: linear-gradient(#ffffff, #f4f4f4);
  margin-top: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
}
/* line 278, ../sass/screen.scss */
form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(#ffffff, #fafafa);
  background: -moz-linear-gradient(#ffffff, #fafafa);
  background: -o-linear-gradient(#ffffff, #fafafa);
  background: linear-gradient(#ffffff, #fafafa);
  height: 80px;
  line-height: 1.2em;
}
/* line 279, ../sass/screen.scss */
form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 30px;
}

/* line 283, ../sass/screen.scss */
.form-underlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
}

/* line 284, ../sass/screen.scss */
.form-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 21;
  display: none;
}

/* line 285, ../sass/screen.scss */
form.generatedForm {
  position: relative;
  z-index: 25;
  background: #fff;
  margin: 0px 0px 15px 0px;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
/* line 289, ../sass/screen.scss */
form.generatedForm .leaf-line input.label, form.generatedForm .leaf-line input.value {
  margin-top: 0px;
  height: 22px;
  line-height: 22px;
}
/* line 292, ../sass/screen.scss */
form.generatedForm input[type="submit"] {
  float: right;
  margin-right: 15px;
}
/* line 293, ../sass/screen.scss */
form.generatedForm .close {
  float: left;
  margin-left: 15px;
}

/* line 296, ../sass/screen.scss */
article#content #login-hp {
  padding: 100px 0px 0px 0px;
}
/* line 297, ../sass/screen.scss */
article#content #login-hp .alert {
  margin-bottom: 0px;
}

/* line 300, ../sass/screen.scss */
table {
  width: 100%;
  margin: 15px 0px;
}
/* line 301, ../sass/screen.scss */
table th, table td {
  border: 1px solid #ccc;
  padding: 8px 15px;
}
/* line 303, ../sass/screen.scss */
table tr:nth-child(even) th, table tr:nth-child(even) td {
  background: #eaeaea;
}

/* tooltip */
/* line 308, ../sass/screen.scss */
.tooltip {
  cursor: help;
}
/* line 309, ../sass/screen.scss */
.tooltip .icon-help {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #ddd;
  color: #888;
  text-shadow: 1px 1px 2px #ccc;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  margin: -6px 0px -2px 0px;
}
/* line 310, ../sass/screen.scss */
.tooltip .icon-help:hover {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #bbb;
}
/* line 312, ../sass/screen.scss */
.tooltip .tooltip-description {
  display: none;
}

/* line 314, ../sass/screen.scss */
.gips-container {
  max-width: 252px;
  position: absolute;
  z-index: 10;
  margin-left: 8px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 315, ../sass/screen.scss */
.gips-body {
  color: #fff;
  font-size: 13px;
  line-height: 1.55em;
  padding: 10px;
  padding-right: 20px;
  position: relative;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 316, ../sass/screen.scss */
.gips-body.blue {
  background-color: #004f80;
}

/* line 318, ../sass/screen.scss */
.gips-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  position: absolute;
  bottom: -6px;
  border-color: #004f80 transparent transparent transparent;
  margin-left: 20px;
}

/* media queries */
@media screen and (max-width: 1280px) {
  /* line 322, ../sass/screen.scss */
  nav#left {
    width: 14%;
  }

  /* line 324, ../sass/screen.scss */
  body > section.left-nav-defined {
    width: 43%;
  }
  /* line 326, ../sass/screen.scss */
  body > section#content.left-nav-defined {
    width: 86%;
  }
}
