{% extends 'FITNetopeerBundle::layout.html.twig' %}
{% block title %}
	Log in is required for this site!
{% endblock %}
{% block content %}

	<div id="login-hp">

		{# data odesíláme na login_check #}
		<form action="{{ path('login_check') }}" method="post" id="login-form">
			<legend>Log in is required for this site!</legend>		
			<p class="desc">[hint: admin,pass; without DB: admin-no-db,pass]</p>

			{% if error %}
			    <div class="alert error">{{ error.message }}</div>
			{% endif %}

		    <label for="username">Username:</label>
		    {# pro správnou funkci se musí parametry poslané na login_check jmenovat _username a _password #}
		    <input type="text" id="username" name="_username" value="{{ last_username }}" /><br/>
		 
		    <label for="password">Password:</label>
		    <input type="password" id="password" name="_password" /><br/>
		 
		    <input type="submit" name="login" value="Log in" />
		</form>

	</div>

{% endblock %}
