{% if outIterator is not defined %}
	{% set outIterator = 0 %}
{% endif %}
{% if outXpath is not defined %}
	{% set outXpath = xpath %}
{% endif %}

{% if element|length %}	
	<div class="level-{{ level }} {{key}}">
		
		{% if key == 'container' %}
			{% set useLevel = true %}
		{% else %}
			{% set useLevel = false %}
		{% endif %}

		{% if element.attributes.config is defined and element.attributes.config == "true" %}
			{% set outIterator = 0 %}
			{% set outXpath = xpath ~ '/*' ~ '[' ~ iterator ~ ']' %}
			{% include 'FITNetopeerBundle:Config:leaf.html.twig' with {'element': element, 'xpath': outXpath, 'key': key, 'level': level, 'addLevel': useLevel, 'iterator': iterator} %}
		{% else %}
			{% include 'FITNetopeerBundle:State:leaf.html.twig' with {'element': element, 'key': key, 'level': level, 'addLevel': useLevel} %}
		{% endif %}

		

		{% for key, el in element %}
			{% set outIterator = outIterator + 1 %}

			{% if element.hasChildren() %}
				{% include 'FITNetopeerBundle:State:parent.html.twig' with {'element': element.getChildren(), 'xpath': outXpath, 'key': key, 'level': level + 1, 'iterator': outIterator } %}
			{% else %}
				{% set tmpXpath = outXpath ~ '/*[' ~ outIterator ~ ']' %}

				{% if element.current().attributes.config is defined and element.current().attributes.config == "true" %}
					{% include 'FITNetopeerBundle:Config:leaf.html.twig' with {'element': element.current(), 'xpath': tmpXpath, 'key': key, 'level': level + 1, 'addLevel': true, 'iterator': outIterator} %}
				{% else %}
					{% include 'FITNetopeerBundle:State:leaf.html.twig' with {'element': element.current(), 'key': key, 'level': level + 1, 'addLevel': true} %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% else %}	
	{% if element.attributes.config is defined and element.attributes.config == "true" %}
		{% include 'FITNetopeerBundle:Config:leaf.html.twig' with {'element': element, 'xpath': outXpath, 'key': key, 'level': level, 'addLevel': true, 'iterator': iterator } %}
	{% else %}
		{% include 'FITNetopeerBundle:State:leaf.html.twig' with {'element': element, 'key': key, 'level': level, 'addLevel': true} %}
	{% endif %}
{% endif %}
